{% extends 'base/base.html' %}

{% block content %}

    <div>
        {% if expenses %}
            <h1>Summary</h1>
            <ul class="expenses-list">

                <li class="blue">{{ budget|floatformat:2 }}$</li>

                {% for expense in expenses %}
                    <li class="red"> - {{ expense.price|floatformat:2 }}$</li>
                {% endfor %}

                <li class="green">= {{ budget_left|floatformat:2 }}$ left</li>
            </ul>
            </div>
        {% endif %}
    <h1>My Expenses</h1>

    <a class="button add" href="{% url 'create expense' %}">Add Expense</a>
    <div class="expenses-container">
        {% for expense in expenses %}
            <div class="expense-container">
                <h2>{{ expense.title }}</h2>
                <img src="{{ expense.image }}" alt="{{ expense.description }}">
                <p>{{ expense.description }}</p>
                <div class="expense-detail">
                    <div>
                        <p>{{ expense.price|floatformat:2 }}$</p>
                    </div>
                    <div class="right">
                        <a class="button edit" href="{% url 'edit expense' expense.id %}">Edit</a>
                        <a class="button delete" href="{% url 'delete expense' expense.id %}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}